#message-container {
  margin: auto;
  width: 90%;
  height: 600px;
  background: lightgray;
}

#send-container {
  width: 90%;
  background: blue;
  text-align: right;
  margin: auto;
  display: flex;
}

#message-input {
  width: 100%;
}
